[Unit]
Description=Metring Image Server
After=syslog.target


[Service]
Type=simple
WorkingDirectory=/var/www/metring.com
Restart=on-failure
RestartSec=5
User=www-data
Group=www-data

Environment=WORK_ENV=production IMG_DIR=images PORT=8080 "UPLOAD_TYPES=.png .jpg .jpeg .webp"

OOMScoreAdjust=-100

ExecStart=/var/www/metring.com/imageserver
TimeoutSec=30

[Install]
WantedBy=multi-user.target