[Unit]
Description=Amenu Image Server
After=syslog.target


[Service]
Type=simple
WorkingDirectory=/root
Restart=on-failure
RestartSec=5

EnvironmentFile=/root/amenu.ru/.env

OOMScoreAdjust=-100

ExecStart=/root/imagesamenu
TimeoutSec=5

[Install]
WantedBy=multi-user.target