[Unit]
Description=Image Server
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/srv
Restart=on-failure
RestartSec=3
User=www-data
Group=www-data

Environment=WORK_ENV=production IMG_DIR=/srv/images PORT=3000 "UPLOAD_TYPES=.png .jpg .jpeg .webp"

OOMScoreAdjust=-100

ExecStart=/srv/imageserver
TimeoutSec=10

[Install]
WantedBy=multi-user.target